.root {
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.3);
    display: flex;
    height: 80px;
    justify-content: flex-start;
    padding: 0 29px;
    width: 100%;

    .text {
        line-height: 18px;
        color: #ADB1B6;

        @media screen and (max-width: 320px) {
            font-size: 6px;
            line-height: 12px;
        }

        a {
            color: #5091E1;
            text-decoration: none;    
        }
    }
    
    .text:first-child {
        margin-right: 37px;
    }

    @media screen and (max-width: 320px) {
        height: 49px;
        justify-content: space-between;
        padding: 0 14px;    
    }
}