.root {
    background: #E5E5E5;
    padding-left: 300px;

    @media screen and (max-width: 320px) {
        padding: 0;
    }

    .title {
        color: #000C25;
        font-size: 30px;
        font-weight: bold;
        line-height: 32px;
        margin-bottom: 69px;
        margin-top: 58px;
        text-align: center;

        @media screen and (max-width: 320px) {
            font-size: 12px;
            margin-bottom: 13px;
            margin-top: 0;
        }
    }

    .content-container {
        margin: 7px;
        padding: 0 9px 0 7px;
        
        .uploads-row {
            justify-content: center;

            & > div {
                margin: 6px 35px;

                @media screen and (max-width: 320px) {
                    margin: 6px 0;
                }
            }
        }

        .button {
            font-size: 16px;
            height: 42px;
            line-height: 18px;
            margin-bottom: 79px;
            width: 180px;

            @media screen and (max-width: 320px) {
                font-size: 6px;
                height: 18px;
                margin-bottom: 10px;
                width: 78px;
            }
        }
    }
    
}
