.root {
    max-width: 603px;
    margin-bottom: 11px;
}

.title {
    font-weight: bold;
    line-height: 18px;
    padding: 30px 50px 50px;
    text-align: center;

    @media screen and (max-width: 320px) {
        line-height: 14px;
        padding: 11px 4px 20px;
    }
}

.people {
    padding: 0 33px 26px 39px;

    @media screen and (max-width: 320px) {
        padding: 0 15px 6px;
    }
}